In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [3]:
s

a   -1.014435
b    0.689191
c   -1.577911
d    0.240396
e    0.502837
dtype: float64

In [4]:
s.get('a')

-1.014434714475312

In [5]:
s.get('f')

In [6]:
s.get('f', "There's no 'f' inside.")

"There's no 'f' inside."

In [7]:
s

a   -1.014435
b    0.689191
c   -1.577911
d    0.240396
e    0.502837
dtype: float64

In [8]:
s + s

a   -2.028869
b    1.378382
c   -3.155821
d    0.480792
e    1.005674
dtype: float64

In [9]:
s * 2

a   -2.028869
b    1.378382
c   -3.155821
d    0.480792
e    1.005674
dtype: float64

In [10]:
s ** 2

a    1.029078
b    0.474984
c    2.489802
d    0.057790
e    0.252845
dtype: float64

In [11]:
s ** 3

a   -1.043932
b    0.327355
c   -3.928686
d    0.013893
e    0.127140
dtype: float64

In [12]:
np.exp(s)

a    0.362607
b    1.992103
c    0.206406
d    1.271753
e    1.653405
dtype: float64

In [13]:
help(np.exp)

Help on ufunc:

exp = <ufunc 'exp'>
    exp(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

    Calculate the exponential of all elements in the input array.

    Parameters
    ----------
    x : array_like
        Input values.
    out : ndarray, None, or tuple of ndarray and None, optional
        A location into which the result is stored. If provided, it must have
        a shape that the inputs broadcast to. If not provided or None,
        a freshly-allocated array is returned. A tuple (possible only as a
        keyword argument) must have length equal to the number of outputs.
    where : array_like, optional
        This condition is broadcast over the input. At locations where the
        condition is True, the `out` array will be set to the ufunc result.
        Elsewhere, the `out` array will retain its original value.
        Note that if an uninitialized `out` array is created via the default
        ``out=None``, locations within it where the condition is False will
        remain uninitialized.
    **kwargs
        For other keyword-only arguments, see the
        :ref:`ufunc docs <ufuncs.kwargs>`.

    Returns
    -------
    out : ndarray or scalar
        Output array, element-wise exponential of `x`.
        This is a scalar if `x` is a scalar.

    See Also
    --------
    expm1 : Calculate ``exp(x) - 1`` for all elements in the array.
    exp2  : Calculate ``2**x`` for all elements in the array.

    Notes
    -----
    The irrational number ``e`` is also known as Euler's number.  It is
    approximately 2.718281, and is the base of the natural logarithm,
    ``ln`` (this means that, if :math:`x = \ln y = \log_e y`,
    then :math:`e^x = y`. For real input, ``exp(x)`` is always positive.

    For complex arguments, ``x = a + ib``, we can write
    :math:`e^x = e^a e^{ib}`.  The first term, :math:`e^a`, is already
    known (it is the real argument, described above).  The second term,
    :math:`e^{ib}`, is :math:`\cos b + i \sin b`, a function with
    magnitude 1 and a periodic phase.

    References
    ----------
    .. [1] Wikipedia, "Exponential function",
           https://en.wikipedia.org/wiki/Exponential_function
    .. [2] M. Abramovitz and I. A. Stegun, "Handbook of Mathematical Functions
           with Formulas, Graphs, and Mathematical Tables," Dover, 1964, p. 69,
           https://personal.math.ubc.ca/~cbm/aands/page_69.htm

    Examples
    --------
    Plot the magnitude and phase of ``exp(x)`` in the complex plane:

    >>> import matplotlib.pyplot as plt

    >>> x = np.linspace(-2*np.pi, 2*np.pi, 100)
    >>> xx = x + 1j * x[:, np.newaxis] # a + ib over complex plane
    >>> out = np.exp(xx)

    >>> plt.subplot(121)
    >>> plt.imshow(np.abs(out),
    ...            extent=[-2*np.pi, 2*np.pi, -2*np.pi, 2*np.pi], cmap='gray')
    >>> plt.title('Magnitude of exp(x)')

    >>> plt.subplot(122)
    >>> plt.imshow(np.angle(out),
    ...            extent=[-2*np.pi, 2*np.pi, -2*np.pi, 2*np.pi], cmap='hsv')
    >>> plt.title('Phase (angle) of exp(x)')
    >>> plt.show()

In [14]:
np.exp(1)

2.718281828459045

In [15]:
np.exp(2)

7.38905609893065

In [16]:
s

a   -1.014435
b    0.689191
c   -1.577911
d    0.240396
e    0.502837
dtype: float64

In [22]:
s.rename("newname", inplace=True)

a   -1.014435
b    0.689191
c   -1.577911
d    0.240396
e    0.502837
Name: newname, dtype: float64

In [23]:
s

a   -1.014435
b    0.689191
c   -1.577911
d    0.240396
e    0.502837
Name: newname, dtype: float64

In [25]:
s.name

'newname'

In [26]:
s2 = s.rename('the2one')

In [27]:
s2

a   -1.014435
b    0.689191
c   -1.577911
d    0.240396
e    0.502837
Name: the2one, dtype: float64

In [38]:
df = pd.DataFrame(s2)

In [39]:
df

    the2one
a -1.014435
b  0.689191
c -1.577911
d  0.240396
e  0.502837

In [40]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}

In [41]:
df = pd.DataFrame(d)

In [42]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [43]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [44]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [45]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [46]:
data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])

In [47]:
data

array([(0, 0., b''), (0, 0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [48]:
data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]

In [49]:
data

array([(1, 2., b'Hello'), (2, 3., b'World')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [50]:
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [51]:
s

a   -1.014435
b    0.689191
c   -1.577911
d    0.240396
e    0.502837
Name: newname, dtype: float64

In [52]:
s2

a   -1.014435
b    0.689191
c   -1.577911
d    0.240396
e    0.502837
Name: the2one, dtype: float64

In [57]:
data = [[s] + [s2]]

In [58]:
data

[[a   -1.014435
  b    0.689191
  c   -1.577911
  d    0.240396
  e    0.502837
  Name: newname, dtype: float64,
  a   -1.014435
  b    0.689191
  c   -1.577911
  d    0.240396
  e    0.502837
  Name: the2one, dtype: float64]]

In [59]:
df = pd.DataFrame(data)

In [60]:
df

,0,1
0,a -1.014435 b 0.689191 c -1.577911 d ...,a -1.014435 b 0.689191 c -1.577911 d ...