In [1]:
import pandas as pd
import numpy as np
csv_data_path = 'https://raw.githubusercontent.com/turingplanet/pandas-intro/main/public-datasets/small_survey_results.csv'
survey_df = pd.read_csv(csv_data_path)

In [2]:
survey_df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,20900,I am a developer by profession,Yes,NaN,10,Monthly,8000.0,53040.0,Bulgaria,Bulgarian lev,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,23,15
1,28235,I am a developer by profession,No,45.0,10,Monthly,670000.0,867480.0,Norway,Norwegian krone,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,37.0,35,22
2,26082,I am a developer by profession,Yes,23.0,14,Yearly,65000.0,65000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;React.js,ASP.NET Core;jQuery;Laravel;React.js;Vue.js,A lot less welcome now than last year,45.0,9,5
3,19890,I am a developer by profession,Yes,61.0,21,NaN,NaN,NaN,Canada,Canadian dollar,...,Easy,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,40.0,39,29
4,16393,I am a developer by profession,Yes,25.0,15,Weekly,NaN,NaN,Uruguay,Uruguayan peso,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,Flask,Just as welcome now as I felt last year,40.0,10,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,51360,I am a developer by profession,Yes,26.0,13,Monthly,16000.0,12312.0,Egypt,Egyptian pound,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",Express;React.js,Angular;Angular.js;React.js,Just as welcome now as I felt last year,40.0,10,3
996,16771,I am a developer by profession,Yes,NaN,11,NaN,NaN,NaN,United States,United States dollar,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",Angular;Express;Spring,Angular;Express;Spring,Just as welcome now as I felt last year,50.0,41,24
997,38831,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,7093,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Indonesia,Indonesian rupiah,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,51843,I am a developer by profession,Yes,29.0,20,Monthly,90000.0,10680.0,Kenya,Kenyan shilling,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular;Angular.js;jQuery;Laravel,Angular;Angular.js;jQuery;Laravel,Just as welcome now as I felt last year,8.0,8,5

In [4]:
survey_df.set_index('Respondent', inplace = True) #将Respondent设为index

In [5]:
survey_df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
20900,I am a developer by profession,Yes,NaN,10,Monthly,8000.0,53040.0,Bulgaria,Bulgarian lev,BGN,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,23,15
28235,I am a developer by profession,No,45.0,10,Monthly,670000.0,867480.0,Norway,Norwegian krone,NOK,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,37.0,35,22
26082,I am a developer by profession,Yes,23.0,14,Yearly,65000.0,65000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;React.js,ASP.NET Core;jQuery;Laravel;React.js;Vue.js,A lot less welcome now than last year,45.0,9,5
19890,I am a developer by profession,Yes,61.0,21,NaN,NaN,NaN,Canada,Canadian dollar,CAD,...,Easy,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,40.0,39,29
16393,I am a developer by profession,Yes,25.0,15,Weekly,NaN,NaN,Uruguay,Uruguayan peso,UYU,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,Flask,Just as welcome now as I felt last year,40.0,10,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51360,I am a developer by profession,Yes,26.0,13,Monthly,16000.0,12312.0,Egypt,Egyptian pound,EGP,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",Express;React.js,Angular;Angular.js;React.js,Just as welcome now as I felt last year,40.0,10,3
16771,I am a developer by profession,Yes,NaN,11,NaN,NaN,NaN,United States,United States dollar,USD,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",Angular;Express;Spring,Angular;Express;Spring,Just as welcome now as I felt last year,50.0,41,24
38831,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7093,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Indonesia,Indonesian rupiah,IDR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51843,I am a developer by profession,Yes,29.0,20,Monthly,90000.0,10680.0,Kenya,Kenyan shilling,KES,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular;Angular.js;jQuery;Laravel,Angular;Angular.js;jQuery;Laravel,Just as welcome now as I felt last year,8.0,8,5

In [9]:
survey_df.sort_index() #按照index进行排序，从小到大

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
59,I am a developer by profession,No,38.0,15,Monthly,6000.0,16488.0,Brazil,Brazilian real,BRL,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;jQuery,ASP.NET;jQuery;Laravel;Ruby on Rails,Just as welcome now as I felt last year,40.0,24,15
146,I am a developer by profession,Yes,33.0,12,Yearly,580000.0,59320.0,Sweden,Swedish krona,SEK,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;React.js;Vue.js,ASP.NET;ASP.NET Core;React.js,Just as welcome now as I felt last year,40.0,21,12
167,I am a developer by profession,Yes,22.0,15,Yearly,55000.0,41597.0,Canada,Canadian dollar,CAD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Laravel,Angular;Angular.js;jQuery;Laravel,Just as welcome now as I felt last year,37.5,7,5
237,I am a developer by profession,Yes,26.0,16,Monthly,45000.0,29088.0,Mexico,Mexican peso,MXN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET;ASP.NET Core;React.js,ASP.NET;ASP.NET Core;React.js;Spring,Just as welcome now as I felt last year,8.0,10,6
275,I am a developer by profession,No,NaN,18,NaN,NaN,NaN,Nepal,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js;Express;Spring;Vue.js,Spring;Vue.js,Somewhat more welcome now than last year,NaN,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65107,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Ukraine,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65198,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Chile,NaN,NaN,...,NaN,NaN,NaN,NaN,Express,Flask;Spring;Vue.js,NaN,NaN,NaN,NaN
65375,I am a developer by profession,Yes,NaN,12,Yearly,90000.0,90000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Information systems, information technology, o...",ASP.NET Core;React.js,ASP.NET;ASP.NET Core;React.js,Just as welcome now as I felt last year,NaN,10,5
65628,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Germany,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Django;Express;React.js;Spring,Angular;Spring,NaN,NaN,NaN,NaN
65633,"I used to be a developer by profession, but no...",No,NaN,NaN,NaN,NaN,NaN,Austria,NaN,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,25,20

In [11]:
survey_df.sort_index(ascending = False) #按照index进行排序，从大到小

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
65633,"I used to be a developer by profession, but no...",No,NaN,NaN,NaN,NaN,NaN,Austria,NaN,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,25,20
65628,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Germany,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Django;Express;React.js;Spring,Angular;Spring,NaN,NaN,NaN,NaN
65375,I am a developer by profession,Yes,NaN,12,Yearly,90000.0,90000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Information systems, information technology, o...",ASP.NET Core;React.js,ASP.NET;ASP.NET Core;React.js,Just as welcome now as I felt last year,NaN,10,5
65198,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Chile,NaN,NaN,...,NaN,NaN,NaN,NaN,Express,Flask;Spring;Vue.js,NaN,NaN,NaN,NaN
65107,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Ukraine,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,I am a developer by profession,No,NaN,18,NaN,NaN,NaN,Nepal,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js;Express;Spring;Vue.js,Spring;Vue.js,Somewhat more welcome now than last year,NaN,6,NaN
237,I am a developer by profession,Yes,26.0,16,Monthly,45000.0,29088.0,Mexico,Mexican peso,MXN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET;ASP.NET Core;React.js,ASP.NET;ASP.NET Core;React.js;Spring,Just as welcome now as I felt last year,8.0,10,6
167,I am a developer by profession,Yes,22.0,15,Yearly,55000.0,41597.0,Canada,Canadian dollar,CAD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Laravel,Angular;Angular.js;jQuery;Laravel,Just as welcome now as I felt last year,37.5,7,5
146,I am a developer by profession,Yes,33.0,12,Yearly,580000.0,59320.0,Sweden,Swedish krona,SEK,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;React.js;Vue.js,ASP.NET;ASP.NET Core;React.js,Just as welcome now as I felt last year,40.0,21,12
59,I am a developer by profession,No,38.0,15,Monthly,6000.0,16488.0,Brazil,Brazilian real,BRL,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;jQuery,ASP.NET;jQuery;Laravel;Ruby on Rails,Just as welcome now as I felt last year,40.0,24,15

In [14]:
survey_df.sort_values(by = 'Age', ascending=True)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
59748,I am a student who is learning to code,Yes,13.0,10,NaN,NaN,NaN,Italy,NaN,NaN,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,3,NaN
23837,I am a student who is learning to code,Yes,15.0,9,NaN,NaN,NaN,Hungary,NaN,NaN,...,Easy,Too long,No,NaN,jQuery,ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,NaN,3,NaN
11615,I am a student who is learning to code,Yes,15.0,14,NaN,NaN,NaN,Germany,NaN,NaN,...,Easy,Appropriate in length,No,I never declared a major,Angular;Angular.js,jQuery,A lot more welcome now than last year,NaN,1,NaN
4656,I am a student who is learning to code,Yes,15.0,13,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Appropriate in length,No,I never declared a major,NaN,NaN,Not applicable - I did not use Stack Overflow ...,NaN,2,NaN
29215,I am a student who is learning to code,Yes,15.0,10,NaN,NaN,NaN,United Kingdom,NaN,NaN,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,I am a developer by profession,No,NaN,18,NaN,NaN,NaN,Nepal,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js;Express;Spring;Vue.js,Spring;Vue.js,Somewhat more welcome now than last year,NaN,6,NaN
63802,I am a developer by profession,Yes,NaN,20,Monthly,NaN,NaN,India,Indian rupee,INR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,3,2
16771,I am a developer by profession,Yes,NaN,11,NaN,NaN,NaN,United States,United States dollar,USD,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",Angular;Express;Spring,Angular;Express;Spring,Just as welcome now as I felt last year,50.0,41,24
38831,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7093,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Indonesia,Indonesian rupiah,IDR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
survey_df.sort_values(by=['Age', 'YearsCode'], ascending=False)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
36576,I am a developer by profession,Yes,67.0,18,Monthly,35000.0,6600.0,Russian Federation,Russian ruble,RUB,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat more welcome now than last year,40.0,50,45
56924,"I used to be a developer by profession, but no...",Yes,63.0,24,NaN,NaN,NaN,Sweden,NaN,NaN,...,Easy,Appropriate in length,No,"A social science (such as anthropology, psycho...",NaN,jQuery;React.js,Just as welcome now as I felt last year,NaN,35,NaN
3251,I code primarily as a hobby,Yes,62.0,18,NaN,NaN,NaN,Finland,NaN,NaN,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",Flask,Flask,Just as welcome now as I felt last year,NaN,3,NaN
43830,I am a developer by profession,Yes,61.0,18,Yearly,125000.0,125000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,Fine arts or performing arts (such as graphic ...,NaN,NaN,Just as welcome now as I felt last year,40.0,43,37
57451,I am a developer by profession,No,61.0,19,Yearly,600000.0,64737.0,Norway,Norwegian krone,NOK,...,Easy,Appropriate in length,No,NaN,Vue.js,React.js,Just as welcome now as I felt last year,38.0,42,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45154,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Lebanon,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Laravel,React.js,NaN,NaN,NaN,NaN
59877,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Philippines,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,React.js,NaN,NaN,NaN,NaN
64744,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Costa Rica,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38831,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7093,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Indonesia,Indonesian rupiah,IDR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
survey_df.sort_values(by=['Age', 'YearsCode'], ascending=False)[['Age', 'YearsCode']]

             Age YearsCode
Respondent
36576       67.0        50
56924       63.0        35
3251        62.0         3
43830       61.0        43
57451       61.0        42
...          ...       ...
45154        NaN       NaN
59877        NaN       NaN
64744        NaN       NaN
38831        NaN       NaN
7093         NaN       NaN

[1000 rows x 2 columns]

In [18]:
survey_df.sort_values(by=['Age', 'YearsCode'], ascending=[False, True]).head(10)[['Age', 'YearsCode']]

             Age YearsCode
Respondent
36576       67.0        50
56924       63.0        35
3251        62.0         3
19890       61.0        39
57451       61.0        42
43830       61.0        43
15907       59.0        35
31302       59.0        43
49614       58.0        42
14140       57.0        22

In [19]:
survey_df.sort_values(by=['Age', 'YearsCode'], ascending=[False, False]).head(10)[['Age', 'YearsCode']]

             Age YearsCode
Respondent
36576       67.0        50
56924       63.0        35
3251        62.0         3
43830       61.0        43
57451       61.0        42
19890       61.0        39
31302       59.0        43
15907       59.0        35
49614       58.0        42
592         57.0        41

In [21]:
#如果需要改变原来的数据，加上 inplace=True

In [23]:
survey_df['Age'].sort_values() # 将单列内容进行排序

Respondent
59748    13.0
23837    15.0
11615    15.0
4656     15.0
29215    15.0
         ...
275       NaN
63802     NaN
16771     NaN
38831     NaN
7093      NaN
Name: Age, Length: 1000, dtype: float64

In [24]:
survey_df['ConvertedComp'].nlargest(10) # 前10名工资最高的用户工资信息

Respondent
29378    1000000.0
48807    1000000.0
18603     946944.0
5292      907572.0
28235     867480.0
19800     863316.0
47454     843168.0
21172     801720.0
59314     753936.0
26443     744000.0
Name: ConvertedComp, dtype: float64

In [25]:
survey_df['ConvertedComp'].nsmallest(10) # 工资最低的前十名用户工资信息

Respondent
56562       0.0
50800    1164.0
35324    1512.0
60592    1644.0
9451     1944.0
34102    2064.0
63944    2340.0
6992     2520.0
62991    2556.0
48554    2844.0
Name: ConvertedComp, dtype: float64

In [29]:
richest_users = survey_df.nlargest(10, 'ConvertedComp')#获取最富有的10个人的信息

In [30]:
richest_users

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
29378,"I am not primarily a developer, but I write co...",Yes,36.0,14,Monthly,2500000.0,1000000.0,Czech Republic,Czech koruna,CZK,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",NaN,NaN,Just as welcome now as I felt last year,160.0,20,16
48807,"I am not primarily a developer, but I write co...",Yes,NaN,44,Monthly,200000.0,1000000.0,New Zealand,New Zealand dollar,NZD,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",React.js,React.js,A lot more welcome now than last year,50.0,6,Less than 1 year
18603,I am a developer by profession,Yes,30.0,15,Monthly,73000.0,946944.0,Ireland,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,35.0,11,7
5292,"I am not primarily a developer, but I write co...",Yes,33.0,9,Monthly,100000.0,907572.0,Canada,Canadian dollar,CAD,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,20,6
28235,I am a developer by profession,No,45.0,10,Monthly,670000.0,867480.0,Norway,Norwegian krone,NOK,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,37.0,35,22
19800,I am a developer by profession,Yes,NaN,16,Monthly,8000000.0,863316.0,Japan,Japanese yen,JPY,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",ASP.NET Core;Express;Ruby on Rails;Vue.js,ASP.NET Core;Express;Vue.js,Somewhat less welcome now than last year,NaN,6,5
47454,I am a developer by profession,Yes,35.0,16,Monthly,65000.0,843168.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,Angular.js;jQuery;Ruby on Rails;Spring,Just as welcome now as I felt last year,NaN,15,10
21172,I am a developer by profession,Yes,39.0,8,Monthly,100000.0,801720.0,Australia,Australian dollar,AUD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery,jQuery,Just as welcome now as I felt last year,40.0,21,16
59314,I am a developer by profession,Yes,32.0,18,Monthly,4500000.0,753936.0,India,Indian rupee,INR,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",NaN,Flask,Just as welcome now as I felt last year,40.0,14,10
26443,I am a developer by profession,Yes,23.0,13,Monthly,62000.0,744000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,6,1

In [31]:
richest_users[['ConvertedComp', 'DevType', 'EdLevel']] # 查看这些用户的工资、开发类型和教育程度

,ConvertedComp,DevType,EdLevel
Respondent,,,
29378,1000000.0,Data or business analyst;Data scientist or mac...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
48807,1000000.0,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
18603,946944.0,"Database administrator;Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
5292,907572.0,"Developer, back-end",Some college/university study without earning ...
28235,867480.0,"Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
19800,863316.0,"Developer, back-end;Developer, front-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
47454,843168.0,"Developer, back-end;Developer, full-stack;Deve...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
21172,801720.0,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
59314,753936.0,Data scientist or machine learning specialist;...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
26443,744000.0,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"

In [32]:
poorest_users = survey_df.nsmallest(10, 'ConvertedComp')

In [33]:
poorest_users

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
56562,I am a developer by profession,Yes,25.0,21,Monthly,1.0,0.0,Nepal,Nepalese rupee,NPR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;Express;Flask;React.js;Spring,Angular;Express;jQuery;Laravel;React.js;Ruby o...,A lot more welcome now than last year,42.0,4,Less than 1 year
50800,I am a developer by profession,Yes,NaN,19,Monthly,15000.0,1164.0,Pakistan,Pakistani rupee,PKR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,ASP.NET;Spring,Just as welcome now as I felt last year,NaN,5,1
35324,I am a developer by profession,Yes,26.0,16,Monthly,9000.0,1512.0,India,Indian rupee,INR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Express;Flask;Gatsby;React.js;Spring;V...,Angular;Express;jQuery,Somewhat more welcome now than last year,45.0,4,1
60592,I am a developer by profession,Yes,34.0,19,Monthly,50000.0,1644.0,Nigeria,Nigerian naira,NGN,...,Neither easy nor difficult,Appropriate in length,NaN,"A humanities discipline (such as literature, h...",Laravel,jQuery,Just as welcome now as I felt last year,NaN,15,3
9451,I am a developer by profession,Yes,31.0,31,Monthly,25000.0,1944.0,Pakistan,Pakistani rupee,PKR,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",NaN,Express;jQuery;Laravel;React.js;Ruby on Rails;...,A lot less welcome now than last year,80.0,8,4
34102,"I am not primarily a developer, but I write co...",Yes,22.0,17,Monthly,12300.0,2064.0,India,Indian rupee,INR,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Drupal;jQuery;Laravel;Ruby on Rails,NaN,Somewhat more welcome now than last year,45.0,5,Less than 1 year
63944,I am a developer by profession,Yes,NaN,22,Monthly,30000.0,2340.0,Pakistan,Pakistani rupee,PKR,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,Somewhat more welcome now than last year,NaN,2,1
6992,I am a developer by profession,Yes,22.0,18,Monthly,15020.0,2520.0,India,Indian rupee,INR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;ASP.NET Core;React.js,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,A lot more welcome now than last year,42.0,4,Less than 1 year
62991,"I am not primarily a developer, but I write co...",Yes,NaN,18,Monthly,10800.0,2556.0,Philippines,Philippine peso,PHP,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,105.0,5,6
48554,I am a developer by profession,No,21.0,15,Monthly,17000.0,2844.0,India,Indian rupee,INR,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,ASP.NET;ASP.NET Core;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,45.0,7,2

In [34]:
poorest_users[['ConvertedComp', 'DevType', 'EdLevel']] # 查看这些用户的工资、开发类型和教育程度

,ConvertedComp,DevType,EdLevel
Respondent,,,
56562,0.0,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
50800,1164.0,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
35324,1512.0,Data or business analyst;Data scientist or mac...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
60592,1644.0,Data or business analyst;Database administrato...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
9451,1944.0,"Developer, back-end;Developer, front-end;Devel...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
34102,2064.0,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
63944,2340.0,"Developer, back-end;Educator","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
6992,2520.0,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
62991,2556.0,"Academic researcher;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
48554,2844.0,"Academic researcher;Designer;Developer, back-e...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"

In [35]:
# 章节地址：https://turingplanet.org/2021/05/05/pandas-intro4/